<!DOCTYPE html>
<html>
<head>
  <title>Organizer Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="text-center my-5">Organizer Profile</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p><strong>Full Name:</strong> {{ account.full_name }}</p>
        <p><strong>Type of User:</strong> {{ account.type_user }}</p>
        <!-- Include other fields as needed -->
      </div>
    </div>
  </div>
</body>
</html>
