<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.1/css/bootstrap.min.css">
    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity=
    "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">           
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img src="{% static 'DjangoWebApplication\img\ticket.png'%}" width="40" height="40" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" href="#">Tickets</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard_user' %}">Events <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      
      <div class="d-flex">
        <a class="btn btn-outline-dark" href="{% url 'logout' %}" role="button">Logout</a>
      </div>
    </div>
  </nav>

    <section class="pt-16 bg-blueGray-50 " style="background-color: rgb(163, 180, 167);">
        <div class="w-full lg:w-4/12 px-4 mx-auto">
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16">
                <div class="px-6">
                    <div class="flex flex-wrap justify-center">
                        <div class="w-full px-4 flex justify-center">
                            <div class="relative">
                                {% if account.profile_pic %}
                                <img alt="Profile Picture" src="{{ account.profile_pic.url }}" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
                                {% else %}
                                <img alt="Profile Picture" src="{% static 'DjangoWebApplication\img\profi.jpg'%}" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
                                {% endif %}
                            </div>
                        </div>
                        <div class="w-full px-4 text-center mt-20">
                            <div class="flex justify-center py-4 lg:pt-4 pt-8">
                                <!-- Add any additional content here -->
                                <div>
                                  <span class="text-sm text-blueGray-400"><a href="{% url 'profile_update' %}" class="btn btn-primary">Edit your Profile</a></span>
                                </div>
                               </div> 
                            </div>
                            <div class="text-center mt-12">
                                <h3 class="text-xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
                                    {{ account.full_name }}
                                </h3>
                                <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
                                    <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
                                    {{ account.address }}
                                </div>
                                <div class="mb-2 text-blueGray-600 mt-10">
                                    <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>
                                    {{ account.type_user }}
                                </div>
                                <div class="mb-2 text-blueGray-600">
                                    <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>
                                    WebSite of events Tickets
                                </div>
                            </div>
                            <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
                              <div class="flex flex-wrap justify-center">
                                  <div class="w-full lg:w-9/12 px-4">
                                      <div class="h-64 overflow-y-auto">
                                          <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                                              {{ account.bio }}
                                          </p>
                                      </div>
                                      <a href="javascript:void(0);" class="font-normal text-pink-500">
                                          Show..
                                      </a>
                                  </div>
                              </div>
                          </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
          
        <footer class="relative pt-8 pb-6 mt-8">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap items-center md:justify-between justify-center">
                    <div class="w-full md:w-6/12 px-4 mx-auto text-center">
                        <div class="text-sm text-blueGray-500 font-semibold py-1">
                            <!-- Add any footer content here -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>
